@font-face {
	font-family: Helvetica;
	src: local("Helvetica Neue")
}

.experience ul > li > ul > li {
	display: inline-block;
}

.experience h3 + ul > li::before {
	content: "\2022";
	margin-right: .25em;
}

.experience h3 + ul > li {
	display: flex;
}

.experience h3 + ul > li:nth-child(even) {
	background: #ABC4DE;
}


.experience ul li ul {
	flex-shrink: 0;
	align-self: flex-end;
	margin-left: auto;
	width: 30%;
}

.domains > *:not(:last-of-type):after , ul li ul li:not(:last-of-type):after 
{
	content: ",";
}

body {
	margin: .5in;
	grid-template-columns: 80% 20%;
	font-family: Helvetica;
}
